<footer id="footer">
    <div class="outer">
        <div id="footer-info" class="inner">
            &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
            友情链接 <a href="https://ruby-china.org/" target="_blank">Ruby China</a>. <a href="http://blog.51cto.com/allblog.php?uid=7872138">我的51CTO博客</a>
        </div>
    </div>
</footer>
