<div class="ds-share" data-thread-key="<%=post.path%>" data-title="<%=post.title%>" data-images="https://github.com/qihoushangshu/qihoushangshu.github.io/blob/master/css/images/avatar.jpg?raw=true" data-content="" data-url="<%=theme.url%>">
    <div class="ds-share-inline">
      <ul  class="ds-share-icons-16">
      	
      	<li>分享到：</li>
        <li><a class="ds-weibo" href="javascript:void(0);" data-service="weibo">微博</a></li>
        <li><a class="ds-qzone" href="javascript:void(0);" data-service="qzone">QQ空间</a></li>
        <li><a class="ds-renren" href="javascript:void(0);" data-service="renren">人人网</a> </li> 
        <li><a class="ds-wechat" href="javascript:void(0);" data-service="wechat">微信</a></li>
      	
      </ul>
      <div class="ds-share-icons-more">
      </div>
    </div>
 </div>

